In [171]:
import pandas as pd
import numpy as np
import os

import seaborn as sb
from nltk.tokenize import WordPunctTokenizer
import re

In [214]:
df = pd.read_csv('data/train.csv')
df_countrys = pd.read_csv('data/country-keyword-list.csv')
df_usa_cities1 = pd.read_csv('data/usa-cities1.csv')
df_usa_cities2 = pd.read_csv('data/usa-cities2.csv')

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

# Detectando hashtags y menciones

In [215]:
regex = '\s([@#][\w_-]+)'

In [220]:
textos = df['text']
resultados = []
for t in testing:
    matched = re.findall(regex,t)
    if (len(matched) > 0):
        resultados.append(matched)
resultados

[['#earthquake'],
 ['#wildfires'],
 ['#Alaska', '#wildfires'],
 ['#CAfire', '#wildfires'],
 ['#disaster'],
 ['#flooding'],
 ['#flooding', '#Florida', '#TampaBay', '#Tampa'],
 ['#We'],
 ['#BREAKING'],
 ['#metal', '#RT'],
 ['#mufc'],
 ['#Bridgetown'],
 ['#nsfw'],
 ['@southridgelife'],
 ['#nsfw'],
 ['#Diyala'],
 ['#California', '#climate', '#energy'],
 ['@News24680'],
 ['#EDM'],
 ['#NashvilleTraffic'],
 ['#SantaClara', '#BayArea', '#Traffic'],
 ['#personalinjury', '#solicitor', '#OtleyHour'],
 ['#caraccidentlawyer'],
 ['@SleepJunkies'],
 ['#FortWorth'],
 ['#Ashville', '#traffic'],
 ['#Manchester', '#traffic'],
 ['#Hagerstown', '@Your4State', '#WHAG']]

In [233]:
hashtags = []
mentions = []
for i in resultados:
    for j in i:
        if ('@' in j):
            mentions.append(j)
        else:
            hashtags.append(j)

In [236]:
hashtags

['#earthquake',
 '#wildfires',
 '#Alaska',
 '#wildfires',
 '#CAfire',
 '#wildfires',
 '#disaster',
 '#flooding',
 '#flooding',
 '#Florida',
 '#TampaBay',
 '#Tampa',
 '#We',
 '#BREAKING',
 '#metal',
 '#RT',
 '#mufc',
 '#Bridgetown',
 '#nsfw',
 '#nsfw',
 '#Diyala',
 '#California',
 '#climate',
 '#energy',
 '#EDM',
 '#NashvilleTraffic',
 '#SantaClara',
 '#BayArea',
 '#Traffic',
 '#personalinjury',
 '#solicitor',
 '#OtleyHour',
 '#caraccidentlawyer',
 '#FortWorth',
 '#Ashville',
 '#traffic',
 '#Manchester',
 '#traffic',
 '#Hagerstown',
 '#WHAG']

In [237]:
mentions

['@southridgelife', '@News24680', '@SleepJunkies', '@Your4State']

In [ ]:
# esta info puede servir luego para detectar gente hablando sobre el mismo tema con un hashtag

# Limpieza de tweets

In [197]:
tok = WordPunctTokenizer()
#regular expression for eliminate @person
pat1 = r'\s([@#][\w_-]+)'
#regular expression for eliminate links
pat2 = r'https?://[A-Za-z0-9./]+'
combined_pat = r'|'.join((pat1, pat2))

def tweet_cleaner(text):
    #dealing with html encoding
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    #applying pattern regexs
    stripped = re.sub(pat2, '', souped)
    try:
        clean = stripped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        clean = stripped
    letters_only = re.sub("[^a-zA-Z]", " ", clean)
    lower_case = letters_only.lower()
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = tok.tokenize(lower_case)
    return (" ".join(words)).strip()

In [198]:
testing = df['text'][:100]
test_result = []
for t in testing:
    test_result.append(tweet_cleaner(t))
test_result

['our deeds are the reason of this earthquake may allah forgive us all',
 'forest fire near la ronge sask canada',
 'all residents asked to shelter in place are being notified by officers no other evacuation or shelter in place orders are expected',
 'people receive wildfires evacuation orders in california',
 'just got sent this photo from ruby alaska as smoke from wildfires pours into a school',
 'rockyfire update california hwy closed in both directions due to lake county fire cafire wildfires',
 'flood disaster heavy rain causes flash flooding of streets in manitou colorado springs areas',
 'i m on top of the hill and i can see a fire in the woods',
 'there s an emergency evacuation happening now in the building across the street',
 'i m afraid that the tornado is coming to our area',
 'three people died from the heat wave so far',
 'haha south tampa is getting flooded hah wait a second i live in south tampa what am i gonna do what am i gonna do fvck flooding',
 'raining flooding florida tampabay tampa or days i ve lost count',
 'flood in bago myanmar we arrived bago',
 'damage to school bus on in multi car crash breaking',
 'what s up man',
 'i love fruits',
 'summer is lovely',
 'my car is so fast',
 'what a goooooooaaaaaal',
 'this is ridiculous',
 'london is cool',
 'love skiing',
 'what a wonderful day',
 'looooool',
 'no way i can t eat that shit',
 'was in nyc last week',
 'love my girlfriend',
 'cooool',
 'do you like pasta',
 'the end',
 'bbcmtd wholesale markets ablaze',
 'we always try to bring the heavy metal rt',
 'africanbaze breaking news nigeria flag set ablaze in aba',
 'crying out for more set me ablaze',
 'on plus side look at the sky last night it was ablaze',
 'phdsquares mufc they ve built so much hype around new acquisitions but i doubt they will set the epl ablaze this season',
 'inec office in abia set ablaze',
 'barbados bridgetown jamaica two cars set ablaze santa cruz head of the st elizabeth police superintende',
 'ablaze for you lord d',
 'check these out nsfw',
 'on the outside you re ablaze and alive but you re dead inside',
 'had an awesome time visiting the cfc head office the ancop site and ablaze thanks to tita vida for taking care of us',
 'soooo pumped for ablaze southridgelife',
 'i wanted to set chicago ablaze with my preaching but not my hotel',
 'i gained followers in the last week you know your stats and grow with',
 'how the west was burned thousands of wildfires ablaze in california alone',
 'building the perfect tracklist to life leave the streets ablaze',
 'check these out nsfw',
 'first night with retainers in it s quite weird better get used to it i have to wear them every single night for the next year at least',
 'deputies man shot before brighton home set ablaze',
 'man wife get six years jail for setting ablaze niece',
 'santa cruz head of the st elizabeth police superintendent lanford salmon has r',
 'police arsonist deliberately set black church in north carolina ablaze',
 'noches el bestia alexis sanchez happy to see my teammates and training hard goodnight gunners',
 'kurds trampling on turkmen flag later set it ablaze while others vandalized offices of turkmen front in diyala',
 'truck ablaze r voortrekker ave outside or tambo intl cargo section',
 'set our hearts ablaze and every city was a gift and every skyline was like a kiss upon the lips',
 'they sky was ablaze tonight in los angeles i m expecting ig and fb to be filled with sunset shots if i know my peeps',
 'how the west was burned thousands of wildfires ablaze in california alone climate energy',
 'revel in yours wmv videos by means of mac farewell ablaze wmv en route to dvd gtxrwm',
 'progressive greetings in about a month students would have set their pens ablaze in the torch publications',
 'rene ablaze jacinta secret k fallen skies edit mar',
 'navista steve these fires out here are something else california is a tinderbox and this clown was setting my hood ablaze news',
 'nowplaying rene ablaze ian buff magnitude edm',
 'nxwestmidlands huge fire at wholesale markets ablaze',
 'ablaze what time does your talk go until i don t know if i can make it due to work',
 'i can t have kids cuz i got in a bicycle accident split my testicles it s impossible for me to have kids michael you are the father',
 'accident on i w nashvilletraffic traffic moving m slower than usual',
 'accident center lane blocked in santaclara on us nb before great america pkwy bayarea traffic',
 'had a personalinjury accident this summer read our advice see how a solicitor can help otleyhour',
 'stlouis caraccidentlawyer speeding among top causes of teen accidents car accident tee',
 'reported motor vehicle accident in curry on herman rd near stephenson involving an overturned vehicle please use',
 'bigrigradio live accident awareness',
 'i mile marker south mooresville iredell vehicle accident ramp closed at pm',
 'rt sleepjunkies sleeping pills double your risk of a car accident',
 'by accident they knew what was gon happen',
 'traffic accident n cabrillo hwy magellan av mir',
 'i mile marker to south mooresville iredell vehicle accident congestion at pm',
 'the pastor was not in the scene of the accident who was the owner of the range rover',
 'mom we didn t get home as fast as we wished me why is that mom there was an accident and some truck spilt mayonnaise all over',
 'i was in a horrible car accident this past sunday i m finally able to get around thank you god',
 'can wait to see how pissed donnie is when i tell him i was in another accident',
 'truckcrash overturns on fortworth interstate click here if you ve been in a crash',
 'accident in ashville on us sb before sr traffic',
 'carolina accident motorcyclist dies in i crash with car that crossed median a motorcycle rider traveling',
 'fyi cad fyi accident property damage nhs piner rd horndale dr',
 'rt naayf first accident in years turning onto chandanee magu from near mma taxi rammed into me while i was halfway turned everyone conf',
 'accident left lane blocked in manchester on rt nb before eddy rd stop and go traffic back to nh a delay of mins traffic',
 'accident property damage piner rd horndale dr',
 'it was an accident',
 'fyi cad fyi accident property damage wpd s th st',
 'pm traffic accident no injury at willis foreman rd',
 'aashiqui actress anu aggarwal on her near fatal accident',
 'suffield alberta accident',
 'mile backup on i south accident blocking the right lanes at exit langtree rd consider nc or nc to nc as alternate',
 'has an accident changed your life we will help you determine options that can financially support life care plans and on going treatment',
 'breaking there was a deadly motorcycle car accident that happened to hagerstown today i ll have more details at your state whag',
 'flowri were you marinading it or was it an accident',
 'only had a car for not even a week and got in a fucking car accident mfs can t fucking drive']

In [177]:
df['text'] = df['text'].apply(lambda x: tweet_cleaner(x))

# Analizo la columna location

In [22]:
registros_sin_location = df.loc[df['location'].isnull(), :]
registros_con_location = df.loc[df['location'].notnull(), :]

In [113]:
registros_con_location['location'].value_counts()

USA                               104
New York                           71
United States                      50
London                             45
Canada                             29
Nigeria                            28
UK                                 27
Los Angeles, CA                    26
India                              24
Mumbai                             22
Washington, DC                     21
Kenya                              20
Worldwide                          19
Chicago, IL                        18
Australia                          18
California                         17
New York, NY                       15
California, USA                    15
Everywhere                         15
San Francisco                      14
United Kingdom                     14
Florida                            14
Los Angeles                        13
Indonesia                          13
Washington, D.C.                   13
Ireland                            12
NYC                                12
Toronto                            12
San Francisco, CA                  11
Seattle                            11
                                 ...
Pioneer Village, KY                 1
17-Feb                              1
home                                1
??????????????????                  1
 |IG: imaginedragoner               1
Old Blighty                         1
Alicante, Spain                     1
manaus                              1
in my head                          1
?@symbolicjensen?                   1
Tucson, Arizona                     1
Canadian bread                      1
Galapa / AtlÌÁntico                 1
Manchester, The World, England      1
Isle of Man                         1
West Chester, PA                    1
Toronto, ON                         1
Est. September 2012 - Bristol       1
Haarlem                             1
Somerset, UK                        1
london essex england uk             1
Amazon Seller , Propagandist        1
mexico                              1
Morocco                             1
Nigeria, WORLDWIDE                  1
Every where                         1
St PetersburgFL                     1
Studio                              1
Cassadaga Florida                   1
LAGOS                               1
Name: location, Length: 3341, dtype: int64

In [166]:
df_countrys

    country-keyword-list
0            Afghanistan
1                Albania
2                Algeria
3                America
4                Andorra
5                 Angola
6                Antigua
7              Argentina
8                Armenia
9              Australia
10               Austria
11            Azerbaijan
12               Bahamas
13               Bahrain
14            Bangladesh
15              Barbados
16               Belarus
17               Belgium
18                Belize
19                 Benin
20                Bhutan
21                Bissau
22               Bolivia
23                Bosnia
24              Botswana
25                Brazil
26               British
27                Brunei
28              Bulgaria
29               Burkina
..                   ...
180          Switzerland
181                Syria
182               Taiwan
183           Tajikistan
184             Tanzania
185             Thailand
186               Tobago
187                 Togo
188                Tonga
189             Trinidad
190              Tunisia
191               Turkey
192         Turkmenistan
193               Tuvalu
194               Uganda
195              Ukraine
196       United Kingdom
197        United States
198              Uruguay
199                  USA
200           Uzbekistan
201              Vanuatu
202              Vatican
203            Venezuela
204              Vietnam
205                wales
206                welsh
207                Yemen
208               Zambia
209             Zimbabwe

[210 rows x 1 columns]

# Para simplificar el analisis voy a eliminar las locations con frequencia menor a 2 y que no poseen prediccion para ambos target

In [114]:
df2 = registros_con_location.groupby(['location','target']).size().reset_index(name='counts').sort_values('counts',ascending=False)

In [119]:
df2 = df2[df2['counts'] > 2]

In [147]:
df3 = df2['location'].value_counts().reset_index()
df3[df3['location'] == 1]['index'].values

array(['Denver, CO', 'Florida', 'Sydney', 'Calgary',
       'California, United States', 'Midwest', 'South Africa',
       'Singapore', 'Lagos, Nigeria', 'Leeds, England', 'Texas',
       'Tennessee', 'Earth', 'Brasil', 'Wisconsin',
       "Jakarta/Kuala Lumpur/S'pore", 'Austin, TX', 'Everywhere',
       'worldwide', 'New York, USA', 'WorldWide', 'Planet Earth',
       'Dallas, TX', 'Charlotte, NC', 'Morioh, Japan', 'MAD as Hell',
       'Calgary, Alberta', 'Happily Married with 2 kids ', '304',
       'Portland, Oregon', 'Paterson, New Jersey ', 'Brooklyn, NY',
       'Vancouver, BC', 'Orlando, FL', 'Nigeria ',
       ' Road to the Billionaires Club', 'ss', 'Coventry',
       'London, England', 'Indiana', 'Haddonfield, NJ',
       'Pennsylvania, USA', 'Atlanta', 'Memphis, TN', 'Bend, Oregon',
       'canada', 'Mumbai', 'San Jose, CA', 'Portland, OR', 'Sacramento',
       'US', 'Denver, Colorado', 'Puerto Rico', 'San Diego, CA',
       'Nairobi-KENYA', 'Edinburgh', 'The Netherlands', 'Manchester',
       'Oklahoma City, OK', 'Melbourne, Australia', 'New Jersey',
       'Boston, MA', 'Switzerland', 'Nashville, TN',
       'Seattle, Washington', 'Sacramento, CA', 'Seattle, WA', 'NYC',
       'Texas, USA', 'Pedophile hunting ground'], dtype=object)